body {
    margin: 20px;
    background-color: rgba(255, 207, 48, 0.103);
    background-image: url('https://raw.githubusercontent.com/n0cturneler/JACKALCULUS/refs/heads/main/src/material/images/background_starry.png');
    text-align: left;
}

.main_header {
    margin: 20px;
    border: 5px solid rgba(91, 209, 255, 0.336);
    border-radius: 15px; 

    padding: 10px 30px 10px 30px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 50px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 5px;

    background-image: url('https://raw.githubusercontent.com/n0cturneler/JACKALCULUS/refs/heads/main/src/material/images/starsbg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    
   
}

nav {
    text-align: center;
}

footer {
    margin: 20px;
    border: 3px solid rgba(91, 209, 255, 0.555);
    border-radius: 20px; 

    padding: 30px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 30px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 1.5px;

    background-image: url('https://raw.githubusercontent.com/n0cturneler/JACKALCULUS/refs/heads/main/src/material/images/starsbg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.sub_header {
    margin: 20px;
    border: 3px solid rgba(91, 209, 255, 0.555);
    border-radius: 20px; 

    padding: 30px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 30px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 1.5px;

    background-image: url('https://raw.githubusercontent.com/n0cturneler/JACKALCULUS/refs/heads/main/src/material/images/starsbg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

a {
    margin: 10px;
    border: 3px solid rgba(91, 209, 255, 0.555);
    border-radius: 5px; 

    padding: 2px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 30px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 1.5px;
    line-height: 3;      

    background-image: url('https://raw.githubusercontent.com/n0cturneler/JACKALCULUS/refs/heads/main/src/material/images/starsbg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.general_info{
    margin: 10px;
    border: 3px solid rgba(91, 209, 255, 0.555);
    border-radius: 5px; 

    padding: 1px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 30px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 1.5px;
    line-height: 2;      
        
    background-image: url('https://raw.githubusercontent.com/n0cturneler/JACKALCULUS/refs/heads/main/src/material/images/starsbg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}