body {
    margin: 20px;
    background-color: rgba(255, 207, 48, 0.103);
    background-image: url('https://raw.githubusercontent.com/n0cturneler/JACKALCULUS/refs/heads/main/src/material/images/background_starry.png');
    text-align: left;
}

.main_header {
    margin: 20px;
    border: 5px solid rgb(91, 209, 255);
    border-radius: 15px; 

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(27, 39, 41);

    padding: 30px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 30px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 1.5px;

    background-color: rgba(75, 123, 255, 0.884);
    background-image: url('placeholder');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
   
}

.sub_header {
      margin: 20px;
    border: 5px solid rgb(91, 209, 255);
    border-radius: 15px; 

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(27, 39, 41);

    padding: 30px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 30px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 1.5px;

    background-color: rgba(75, 123, 255, 0.884);
    background-image: url('placeholder');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

a {
    margin: 10px;
    border: 3px solid rgb(91, 209, 255);
    border-radius: 5px; 

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(27, 39, 41);

    padding: 2px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 30px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 1.5px;
    line-height: 3;      

    background-color: rgba(75, 123, 255, 0.884);
    background-image: url('placeholder');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.general_info{
    margin: 10px;
    border: 3px solid rgb(91, 209, 255);
    border-radius: 5px; 

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(27, 39, 41);

    padding: 2px;

    color: white;

    font-family: "Archivo Black", sans-serif;

    font-size: 30px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;
    text-align: center;

    letter-spacing: 1.5px;
    line-height: 3;      

    background-color: rgba(75, 123, 255, 0.884);
    background-image: url('placeholder');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}